@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: rgb(77, 79, 56);
    color: rgb(40, 35, 35);
}


header {
    padding: 15px;
    background-color: rgb(71, 66, 60);
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

.logo {
    padding: 10px;
    /* background-color: bisque; */
    display: grid;
    gap: 5px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.logo h2 {
    font-size: 25px;
    font-weight: 400;
}

.logo img {
    width: auto;
    height: 60px;
    object-fit: cover; 
    border: 1px solid black;
    border-radius: 20px;
    
}

nav {
    padding: 30px;
    /* background-color: rgb(69, 67, 50);h */
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    font-style: italic;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.banner {
    padding: 15px;
    background-color: blue;
    height: 450px;
    background-image: url(./banner.jpeg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.banner-content {
    padding: 10px;
    color: rgb(224, 164, 85);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 40px rgb(140, 146, 25);
    border: 2px solid rgb(192, 174, 76);
    border-radius: 10px;
    display: grid;
    gap: 15px;
}

.banner-content button {
    background-color: rgb(120, 179, 72);
    border: 3px solid green;
    color: rgb(0, 38, 174);
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    justify-self: left;
}

.rent {
    padding: 20px;
    background-color: rgb(123, 96, 46);
    
    
}

.rent-content {
    padding: 2px;
    color: rgb(134, 131, 41);
    display: grid;
    
    gap: 10px;
}

.rent-content button {
    justify-self: right;
    padding: 8px;
    background-color: rgb(154, 49, 49);
    border: 2px solid rgb(182, 145, 100);
    border-radius: 15px;
    color: rgb(161, 148, 30);

}

.rent-wrapper {
    padding: 15px;
    display: grid;
    grid-template-columns:1fr ;
    gap: 15px;
    justify-items: center;
}

.rent-card {
    padding: 3px;
    width: 250px;
    height: 290px;
    background-color: rgb(68, 107, 94);
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    
}

.rent-card img {
    width: 100%;
    height: 125px;
    object-fit: cover; 
    border: 1px solid black;
    border-radius: 10px;
}

.rent-card h3 {
    justify-self: center;
    
}

.rent-card button {
    padding: 2px;
    background-color: rgb(148, 160, 16);
    border: 2px solid rgb(182, 145, 100);
    border-radius: 5px;
    color: rgb(18, 86, 38);
    justify-self: center;
}

.service {
    padding: 15px;
    background-color: rgb(206, 194, 181);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
}

.service text {
    padding: 5px;
    
}

.service img {
    width: auto;
    height: 250px;
}

#gallery {
    padding: 15px;
    background-color: rgb(126, 119, 51);
    text-align: center;
    
}

.gallery-wrapper {
    padding: 15px;
    background-color: rgb(0, 0, 0);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-areas: 
    "C1 C1 C1"
    "C1 C1 C1"
    "C2 C2 C2"
    "C3 C3 C3";
}

.gallery-wrapper img:nth-child(1){
    grid-area: C1;
}
.gallery-wrapper img:nth-child(2){
    grid-area: C2;
}
.gallery-wrapper img:nth-child(3){
    grid-area: C3;
}







.gallery-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(0, 0, 0); 
}



#review {
    padding: 15px;
    background-color: rgb(214, 219, 58);
}

.review-wrapper {
    padding: 15px;
    background-color: darkslategray;
    
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "one" 
    "two" 
    "three" 
    "four" 
    "five";
}

.review {
    padding: 15px;
    background-color: darkorchid;

    display: grid;
    gap: 15px;
    grid-template-columns: 1fr auto;
}

.review p {
    grid-column: 1 / 3;
}

.rating ion-icon {
    font-size: 24px;
    color: yellow;
}

.title {
    text-align: center;
    padding: 15px;
}

.subtitle {
    text-align: center;
    padding: 10px;
}

.review:nth-child(1) {
    background-color: rgb(211, 151, 61);
    grid-area: one;
}

.review:nth-child(2) {
    background-color: rgb(140, 142, 36);
    grid-area: two;
}

.review:nth-child(3) {
    background-color: rgb(144, 176, 14);
    grid-area: three;
}

.review:nth-child(4) {
    background-color: rgb(151, 142, 16);
    grid-area: four;
}

.review:nth-child(5) {
    background-color: rgb(185, 131, 65);
    grid-area: five; 

}













